/******* General *******/

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/avenir/Avenir-Book.otf');
}

.brand {
  font-family: Avenir, sans-serif;
  font-size: 80pt;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

.brand-subtitle {
  padding: 0 100px 0 100px !important;
  color: #FFFFFF;
  font-size: 14pt;
}

.section-title {
  font-family: Avenir, sans-serif;
  color: #FFFFFF;
}

#map{
  width:700px;
  height: 500px;
}


.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  height: auto;
}

#showBurgers {
  /*margin-top: 30px;*/
  border: solid 1px #000000;
  background-color: red;
  /*top: auto;*/
  /*transform: none;*/
  /*margin-left: 25%;*/
  /*margin-right: 25%;*/
}

.results-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: #2d378c;
  z-index: 100;
  overflow: scroll;
}

.burger-item {
  display: flex;
  background-color: #4e59ba;
  margin: 5% 10% 20px;
}

.column img {
  max-width: 300px;
}

.left {
  flex-basis: 66%;
}

.restaurant-name .burger-details .burger-name .burger-price {
  font-family: Avenir, sans-serif;
  color: #f69f3a;
  font-size: 15px;
}

.restaurant-name .burger-name .burger-price {
  color: #fee6c9;
  font-size: 30px;
}

.burger-price {
  font-size: 27px;
}